section{
    text-align: center;
}
#form{
    text-align: center;
}
#button{
    margin-top: 20px;

}
#todo-content{
    height: 40%;
    width: 50%;
    margin: auto;

}
#todo-list{
padding: 30px;
    
}
#todo-list ul{
    list-style-type: none;
    margin-left: 30px;
    text-align: center;
    
}
#todo-list li{
    font-size: 1.5em;
    padding: 20px;
}
.delete-item{
    text-align: center;
}
button{
    margin-left: 5%;
}